.faQuestion {
  margin-bottom: 16px;
}

.question {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.symbols {
  font-size: 24px;
  color: purple;
  margin-right: 8px;
}

h3 {
  margin: 0;
}

.answer {
  margin-left: 32px;
  color: gray;
}
