@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Odor+Mean+Chey&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Container untuk FAQ */
.faq-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px 30px;
  font-family: "Noto Sans", sans-serif;
}

/* Item FAQ */
.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  transition: all 0.8s ease-in-out;
}

/* .faq-item.open .question {
  color: #5e3dbb;
} */

/* Header pertanyaan */
.question {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.symbol {
  font-size: 2rem;
  font-weight: normal;
  margin-right: 10px;
  color: #5e3dbb; /* Warna biru untuk simbol */
  transition: transform 0.8s ease-in-out;
}

.symbol.open {
  color: #5e3dbb; /* Warna merah saat terbuka */
  transform: rotate(180deg);
}

.answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/* Jawaban */
.answer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
}

.vertical-line {
  padding: 2px;
  height: 100%;
  background-color: #5e3dbb;
  margin-right: 10px;
}

.answer p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  color: #333;
}

.answer-container.visible {
  max-height: 200px; /* Sesuaikan sesuai kebutuhan */
}
