@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Odor+Mean+Chey&display=swap");

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, #836fb9 0%, #492a64 70%);
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
}

.Logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#subtitle {
  font-size: 14px;
}

#title {
  font-size: 30px;
}
.Judul p {
  margin: 0;
  font-family: "Koulen";
  color: #fff;
  line-height: 1;
}
#Logo {
  height: 50px;
}

.NavBar {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  margin-right: 30px;
}

.Nav {
  color: #fff;
  text-decoration: none;
  font-family: "Odor Mean Chey";
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
}

.Nav:hover {
  background-color: #836fb9;
  border-radius: 20px;
}
