@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Odor+Mean+Chey&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.Pengenalan {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 50px;
  /* width: 100%; */
}

#AboutUs {
  max-width: 650px;
  padding-left: 30px;
  padding-top: 30px;
  line-height: 1.5;
}

#AboutUs h3 {
  text-align: justify;
  max-width: 250px;
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Koulen";
  font-weight: 400;
}

#AboutUs p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  text-align: justify;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#AboutUs li {
  line-height: 1.5rem;
}

#VisiMisi {
  max-width: 400px;
  margin-top: 70px;
  margin-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#846fb9 0%, #492a64 70%);
  color: #fff;
  border-radius: 0 0 20px 20px;
}

#VisiMisi .img-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

#VisiMisi img {
  width: 100%;
  height: auto;
  display: block;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

#VisiMisi .VisiMisi {
  padding: 0 20px;
}

#VisiMisi h5 {
  font-family: "Koulen";
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

#VisiMisi p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
}

.FormBox-container h3 {
  margin-top: 100px;
  text-align: center;
  font-size: 2rem;
  font-family: "Koulen", sans-serif;
}

.FormBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 45px;
  margin-top: 95px;
}

.Berita {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f4f4;
  margin: 150px 0 0;
  padding: 10px 75px 60px;
}

.Berita h3 {
  text-align: center;
  font-family: "Koulen";
  font-size: 2rem;
  padding: 20px 0;
}

.Berita-container {
  display: flex;
  justify-content: space-between;
}

.toPageBerita {
  align-self: center;
  width: 200px;
  height: 50px;
  margin-top: 60px;
  border-radius: 40px;
  border: none;
  background-color: #806bb4;
  font-family: "Koulen", sans-serif;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding-top: 12.5px;
}

#FAQTitle {
  font-family: "Koulen", sans-serif;
  font-size: 1.9rem;
  margin: 50px 0 20px 30px;
}

@media screen and (max-width: 1250px) {
  .Berita-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .Pengenalan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #VisiMisi {
    margin-right: 0;
  }

  .FormBox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FormBox {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .Pengenalan {
    margin-top: 70px;
    align-items: center;
  }
}
